<!DOCTYPE html>
<html>
<head>
	<title>Eat the Burger!</title>
	<link rel="stylesheet" type="text/css" href="/burger/public/assets/css/reset.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/burger/public/assets/css/style.css">
	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">

	<style>
		body {
      
    width: 100%;
    background-color: rgb(121, 165, 233);
    overflow: hidden;
    color: #fff;
    font-family: 'Roboto', sans-serif;
  }
  
  h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 32pt;
  }
  
  input {
    color: #000 ;
  }
  
  .uneaten-title {
    text-align: center;
  }
  
  .title {
    font-family: 'Indie Flower', cursive;
    font-size: 70px;
  
  }
  
  ul.uneaten li{
    display: inline-block;
    float: left;
    list-style-type:none;
    margin: 10px;
  }
  
  #update {
  text-align: center;
  }
  
  #eaten {
    text-align: center;
  }
  
  .burgers-eaten {
    overflow-y: scroll;
  }
  
  button {
    background-color: #000;
    color: yellow;
  }
	</style>
</head>
<body>
	<div class="wrap">
		<div class="row">
			<div id="header" class="container col-xs-12 text-center">
				<p class=title>Eat the Burger!</p>
			</div>
		</div>
	{{{ body }}}
	</div>
</body>
